<div class="main">

<div class="head">
<h3>予定一覧</h3>
<p><%= link_to "新規追加", :new_user, class:"blue_botton" %></p>
</div>

<% if flash[:notice] %>
 <p class="notice"><%= flash[:notice] %></p>
<% end %>

<table>
 <thead>
  <tr>
   <th>ID</th>
   <th>タイトル</th>
   <th>開始日</th>
   <th>終了日</th>
   <th>終日</th>
   <th>更新日時</th>
   <th>詳細</th>
   <th>編集</th>
   <th>削除</th>
  </tr>
 </thead>

 <tbody>
  <% @users.each do |user| %>
   <tr>
    <td><%= user.id %></td>
    <td><%= user.title %></td>
    <td><%= user.start_date.to_s(:date_jp) %></td>
    <td><%= user.end_date.to_s(:date_jp) %></td>
    <td>
    <% if user.is_all_day == true %>
        ○
    <% else user.is_all_day == false %>
    <% end %>
    </td>
    <td><%= user.updated_at.to_s(:datetime_jp) %></td>
    <td><%= link_to "詳細", user, class:"line_none" %></td>
    <td><%= link_to "編集", [:edit, user], class:"line_none" %></td>
    <td><%= link_to "削除", user, data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" }, class:"line_none" %></td>
   </tr>
  <% end %> 
 </tbody>
</table>

<footer>
 <div class="footer">
  <p>予定合計<%= User.count %>件</p>
  <p>本日の日付 <%= Date.today %></p>
 </div>
</footer>

</div>

