<div class="main">

<h3><%= @user.title %></h3>

<table>
 <tr>
  <th>開始日</th>
  <td><%= @user.start_date.to_s(:date_jp) %></td>
 </tr>
 <tr>
  <th>終了日</th>
  <td><%= @user.end_date.to_s(:date_jp) %></td>
 </tr>
 <tr>
  <th>終日</th>
  <td>
  <% if @user.is_all_day == true %>
        ○
  <% else @user.is_all_day == false %>
  <% end %>
  </td>
 </tr>
 <tr>
  <th>スケジュールメモ</th>
  <td><%= @user.memo %></td>
 </tr>
</table>

<div class="new_show_edit">
  <%= link_to "予定一覧に戻る", :users, class:"blue_botton" %>
  <%= link_to "予定を編集する", [:edit_user], class:"blue_botton" %>
</div>

</div>
