<div class="main">

<h3><%= @post.title %></h3>

<table>
 <tr>
  <th>開始日</th>
  <td><%= @post.start_date.to_s(:date_jp) %></td>
 </tr>
 <tr>
  <th>終了日</th>
  <td><%= @post.end_date.to_s(:date_jp) %></td>
 </tr>
 <tr>
  <th>終日</th>
  <td>
  <% if @post.is_all_day == true %>
        ○
  <% else @post.is_all_day == false %>
  <% end %>
  </td>
 </tr>
 <tr>
  <th>スケジュールメモ</th>
  <td><%= @post.memo %></td>
 </tr>
</table>

<div class="new_show_edit">
  <%= link_to "予定一覧に戻る", :posts, class:"blue_botton" %>
  <%= link_to "予定を編集する", [:edit_post], class:"blue_botton" %>
</div>

</div>
